<!DOCTYPE html>
<html>
    <head>
        <title>CRUD APP USING NODEJS AND MONGODB</title>
    </head>
    <body>
        <div class="row">
            <div>
                {{{body}}}
            </div>
        </div>
    
    </body>
</html>