<h3>{{{viewTitle}}}</h3>
<form action="/employee" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{employee.id}}">
  <div class="mb-3">
    <label  class="form-label">Name</label>
    <input type="text" class="form-control">

  </div>
  <div class="mb-3">
    <label  class="form-label">Email</label>
    <input type="email" class="form-control">
  </div><div class="mb-3">
    <label  class="form-label">Phone Number</label>
    <input type="Phone Number" class="form-control">
  </div>
  <div class="mb-3">
    <label  class="form-label">City</label>
    <input type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a><i>View All</i></a>
</form>